{% extends "base.html" %}

{% block title %}{{ t.reserve_title }} — Revontulet Flamehouse{% endblock %}

{% block content %}
<h2>{{ t.reserve_a_table }}</h2>

<p>
    {{ t.reserve_description }}
</p>

<form>
    <label>{{ t.name }}: <input type="text" name="name" required /></label><br />

    <label>{{ t.email }}: <input type="email" name="email" required /></label><br />

    <label>{{ t.date }}: <input type="date" name="date" required /></label><br />

    <label>{{ t.time }}: <input type="time" name="time" required /></label><br />

    <label>{{ t.number_of_guests }}:
        <input type="number" name="guests" min="1" required />
    </label><br />

    <button type="submit">{{ t.reserve_button }}</button>
</form>
{% endblock %}
