{% extends "base.html" %} {% block title %}{{ t.reserve_title }} — Revontulet
Flamehouse{% endblock %} {% block styles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/reservation.css') }}"
/>
{% endblock %} {% block content %}
<!-- Reservation Page: Header, form, and instructions -->
<div id="notification"></div>
<div class="reservation-page">
    <div class="reservation-header">
        <!-- Reservation title and description -->
        <h2>{{ t.reserve_a_table }}</h2>
        <p>{{ t.reserve_description }}</p>
    </div>
    <div class="reservation-flex">
        <!-- Reservation form -->
        <div class="reservation-box">
            <form id="reservation-form">
                <!-- Name input -->
                <label>
                    {{ t.name }}:
                    <input
                        type="text"
                        name="name"
                        value="{{ user.name }}"
                        required
                    />
                </label>

                <!-- Email input -->
                <label>
                    {{ t.email }}:
                    <input
                        type="email"
                        name="email"
                        value="{{ user.email  }}"
                        required
                        autocomplete="email"
                    />
                </label>

                <!-- Phone input -->
                <label>
                    {{ t.phone }}:
                    <input
                        type="tel"
                        name="phone"
                        value="{{ user.phone if user else '' }}"
                        required
                    />
                </label>

                <!-- Date input -->
                <label>
                    {{ t.date }}:
                    <input type="date" name="date" required />
                </label>

                <!-- Time input -->
                <label>
                    {{ t.time }}:
                    <input type="time" name="time" required />
                </label>

                <!-- Number of guests input -->
                <label>
                    {{ t.number_of_guests }}:
                    <input type="number" name="guests" min="1" required />
                </label>

                <button type="submit" class="btn-accent">
                    {{ t.reserve_submit }}
                </button>
            </form>
            <div id="reservation-message"></div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script
    type="module"
    src="{{ url_for('static', filename='js/reservation.js') }}"
></script>
<!--<script src="{{ url_for('static', filename='js/order-confirmation.js') }}"></script>-->
{% endblock %}
